<%# default partial to display solr document fields in catalog show view -%>
<table class="citation" style="margin: 0px; margin-top: 2em; padding: 0px; *width=auto" summary="This table displays bibliographic information about this specific item">
  <tbody>
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
      <tr valign="top">
        <th class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></th>
        <td class="blacklight-<%= field_name.parameterize %>">
          <% if field_name == 'oclcnum_t' %>
            <%= link_to document[field_name].last, "https://www.worldcat.org/oclc/#{document[field_name].last}", target:"_blank" %>
          <% elsif field_name == 'relationships' %>
            <% document[field_name].each do |rel_uuid| %>
              <%= link_to "Related", search_action_path(add_facet_params_and_redirect('relationships', rel_uuid)) %>
            <% end %>
          <% elsif field_name == 'ht_ids_fv' %>
            <% document[field_name].uniq.each do |ht_id| %>
              <div class="fulltext"><%= link_to "HathiTrust Full View", "http://catalog.hathitrust.org/Record/#{ht_id}" %></div>
            <% end %>
          <% elsif field_name == 'ht_ids_lv' %>
            <% document[field_name].uniq.each do |ht_id| %>
              <div class="fulltext"><%= link_to "HathiTrust Limited View", "http://catalog.hathitrust.org/Record/#{ht_id}" %></div>
            <% end %>
          <% elsif field_name == 'author_display' || field_name == 'publisher_t' %>
            <%= link_to document[field_name][0], search_action_url(q: document[field_name][0], search_field: field_name.split('_')[0]) %>
	  <% else %>
            <%= render_document_show_field_value( document, field: field_name) %>
          <% end -%>
        </td>
      </tr>
    <% end -%>

  <% end -%>
  <% if oclcnum_links(document).last %>
    <% oclcnum_links(document).last do | oclcnum, url | %>
      <tr valign="top">
        <th class="blacklight-oclcnum_t">OCLC #</th>
        <td class="blacklight-oclcnum_t"><%= link_to oclcnum, url, target:"_blank" %></td>
      </tr>
    <% end %>
  <% end %> 
  <% electronic_resources(document).each do | linktext, url | %>
    <tr valign="top">
      <th class="blacklight-eresource">Electronic Resource:</th>
      <td class-"blacklight-eresource"><%= link_to linktext, url %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<%= render "marc_view" %>
<%# these screwed up these tool templates %>
<% @documents = [@document] %> 
<div id="citation_view" class="tool_view"><%= render :partial => 'citation' %></div>
<div id="email_view" class="tool_view">
  <%= render :template => 'catalog/email' %>
  <div class="ajax-form-success"></div>
</div>
<div id="sms_view" class="tool_view">
  <%= render :template => 'catalog/sms' %>
  <div class="ajax-form-success"></div>
</div>

